body{
    background: linear-gradient(30deg,rgb(77,77,77),rgb(58,58,58));
    color: rgb(68,68,68);
}
#page-logo a{
    color: rgb(137, 204, 211);
}
.about a {
    color: rgb(137, 204, 211);
}

header {
    position: static
}
header nav a:hover{
    background-color:  rgb(103, 193, 203);
    color: rgb(59,59,59);
}

main ul{
    width: 1300px;
    margin: 0 auto 38px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
}

li:nth-of-type(3){
    grid-column: 1 /span 2;
}
main li{
    display: flex;
    background-color: aliceblue;
    box-shadow: 1px 1px 1px rgba(0,0,0,2);
    border-radius:6px ;
    overflow: visible;
    object-fit: cover;
}

main li img{
    width: 300px;
    height: 250px;
}

.item-cont{
    padding: 24px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actions{
    text-align: right;
}

.actions a{
    text-transform: none;
    padding: 6px;
    color: rgb(22,221,228);
    border-radius: 5px;
}

.actions a:hover{
    background-color: rgb(147, 207, 215);
}